body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically and horizontally */
}


#canvas-container {
    width: 800px; /* Match the width of the canvas */
    height: 600px; /* Match the height of the canvas */
    border: 1px solid #eee; /* Aesthetic border around the canvas */
}